<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>全国农产品数据可视化平台</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .jumbotron {
      background-color: #32dbde; /* Lighter shade for contrast */
      color: #333; /* Dark text color for readability */
    }
    .card {
      margin: 20px 0;
    }
    .navbar, .footer {
      background-color: #1addcd; /* Your brand color */
    }
    .footer {
      color: white;
    }
    /* Additional custom styles */
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>农产品数据可视化分析与建模</h1>
    <p>Visual analysis and modeling of agricultural data</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <div class="card">
          <div class="card-body">
            <img src="../static/svg/01.svg" alt="Icon 1" class="card-img-top">
            <h5 class="card-title"><a href="#">页面一</a></h5>
            
          </div>
        </div>
      </div>
      <!-- Repeat for each column -->
      <div class="col-sm-6 col-md-3 text-center">
        <div class="card">
          <div class="card-body">
            <img src="../static/svg/02.svg" alt="Icon 1" class="card-img-top">
            <h5 class="card-title" ><a href="#">页面二</a></h5>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="card">
          <div class="card-body">
            <img src="../static/svg/03.svg" alt="Icon 1" class="card-img-top">
            <h5 class="card-title"><a href="#">页面三</a></h5>
            
          </div>
        </div>
      </div>



    </div>
  </div>

  <footer class="footer text-center mt-auto py-3">
    <div class="container">
      <span>版权所有 &copy; 2024</span>
    </div>
  </footer>

  <!-- jQuery and Bootstrap Bundle JS -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>